.stage {
    width: 80%;
    margin: 0 auto 20px auto;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.state {
    width: 80%;
    margin: 0 auto 40px auto;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.timer {
    width: 80%;
    margin: 40px auto;
    font-size: 9rem;
    font-weight: bold;
}

.buttons {
    width: 60%;
    margin: 0 auto;
}